#LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="KEY"
LANGSMITH_PROJECT="PROJECT"
# Reduce tracing latency if you are not in a serverless environment
LANGCHAIN_CALLBACKS_BACKGROUND=true

# OpenAI
OPENAI_API_KEY="KEY"